* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px 16px;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

.page {
  align-self: flex-end;
  display: flex;
  gap: .5em;
}

button {
  padding: .5em 1em;
}